<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rin.novel.dao.mapper.UserCheckinRecordMapper">

    <select id="countByUserIdAndMonth" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM user_checkin_record
        WHERE user_id = #{userId}
          AND checkin_month = #{checkinMonth}
    </select>

</mapper>

